@import '../lib/mixin';

.my-profile-main
  padding: 10px;
  background: #fff;

  .my-user
    position: relative;

    .my-tip
      background: green_light;
      color: white;
      margin: -10px -10px 10px -10px;
      padding: 15px 10px;

    .user-head
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin: 0 auto 10px auto;
      background: url('http://cc.cocimg.com/api/uploads/20150828/1440724410882023.jpg') no-repeat;
      background-size: cover;

    .user-name
      margin-bottom: 10px;
      display: block;
      text-align: center;

    .user-desc
      margin-bottom: 10px;
      display: block;
      color: #999;
      text-align: center;

  .my-detail
    color: #999;

    p
      margin-bottom: 5px;

.my-profile-list
  .title
    color: gray_dark;
    padding: 10px;

    .rank-group
      float: right;

      a
        color: gray_dark;

        &.active
          color: orange_dark;






