@import '../lib/mixin';

.my-listen-main
  .listen-title
    color: gray_dark;
    padding: 10px;

  .listen-list
    li
      padding: 15px 10px;
      margin-bottom: 10px;
      background: white;
      position: relative;

      .question-title
        margin-bottom: 10px;

      .user-info
        display: -webkit-box;

        .other-info
          -webkit-box-flex: 1;
          color: gray_dark;
          padding-left: 5px;

          .user-desc
            margin-bottom: 5px;

          .question-info
            float: right;