@import '../lib/mixin';

.profile-main
  padding: 10px;
  background: white;

  .profile-user
    padding: 10px 0;

    .user-head
      display: block;
      width: 50px;
      height: 50px;
      border: 1px solid #dfdfdf;
      border-radius: 25px;
      margin: 0 auto 10px auto;
      background: url('./images/head.jpg') no-repeat;
      background-size: cover;

    .user-name
      margin-bottom: 10px;
      display: block;
      text-align: center;

    .user-desc
      margin-bottom: 10px;
      display: block;
      color: #999;
      text-align: center;

  .ask-action
    text-align: right;
    margin-bottom: 10px;

    .listen-count
      color: #999;

    .action-listen
      i
        font-size: 16px;
        margin-right: 5px;

  .ask-content
    font-size: 14px;

    textarea
      font-size: 14px;
      width: 100%;
      height: 100px;
      background: #efefef;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      padding: 8px 15px;
      resize: none;
      outline: none;
      -webkit-appearance: none;
      
      &:focus
        outline: none;

    .ask-check
      margin-bottom: 15px;

      input
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: sub;

    .ask-price
      text-align: center;
      colro: #f85f48;
      font-size: 18px;
      margin-bottom: 10px;
      color: #f85f48;

    .ask-action-wrap
      text-align: center;

.repeat-main
  background: #efefef;

  .repeat-title
    padding: 10px 5px;
    background: #efefef;
    color: #999;

  .repeat-item
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;

    .repeat-ask
      display: -webkit-box;
      margin-bottom: 10px;

      .ask-user
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid #dfdfdf;
        border-radius: 15px;
        background: url('http://cc.cocimg.com/api/uploads/20150828/1440724417548150.jpg') no-repeat;
        background-size: cover;

      .ask-content
        display: block;
        padding-left: 10px;
        -webkit-box-flex: 1;

        .ask-price
          margin-top: 5px;
          color: #f85f48;
          font-size: 16px;

    .repeat-content
      display: -webkit-box;
      margin-bottom: 10px;

      .repeat-user
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid #dfdfdf;
        border-radius: 15px;
        background: url('http://cc.cocimg.com/api/uploads/20150828/1440724410882023.jpg') no-repeat;
        background-size: cover;

      .repeat-content
        display: block;
        padding-left: 10px;
        -webkit-box-flex: 1;

        .action-listen
          display: inline-block;
          padding: 10px;
          text-align: center;
          color: #fff;
          background: #1fa67a;
          border-radius: 15px;

          i
            float: left;
            font-size: 18px;
            margin-top: -1px;

        .repeat-time
          color: #999;

    .extend-content
      color: #999;
      overflow: hidden;
      padding-left: 40px;

      .extend-time
        float: left;

      .extend-count
        float: right;

















