body 
  background: #efefef;
  font-size: 14px;
  padding-bottom: 50px;

.page-footer
  position: fixed;
  display: -webkit-box;
  border-top: 1px solid #e5e5e5;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;

  .footer-item
    -webkit-box-flex: 1;
    display: block;
    padding: 15px 0;
    color: #999;
    text-align: center;

    &.active
      color: #f85f48;

/**
 * 按钮样式
 */
.btn
  display: inline-block;
  padding: 7px 10px 5px 10px;
  border-radius: 5px;

  &.btn-large
    padding: 12px 20px 10px 20px;
    font-size: 16px;

.btn-orange
  color: #fff;
  background: #f85f48;

/**
 * 用户头像
 */
.common-user-head
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  background: url('http://cc.cocimg.com/api/uploads/20150828/1440724410882023.jpg') no-repeat;
  background-size: cover;